.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 900px;
    grid-template-areas:
    "hd ht"
    "sd con";

  grid-template-rows: 120px 400px;
  grid-template-columns: 140px 10fr;
}

.app-wrapper-content {
        grid-area: con;
        background-color: #5F9EA0;
}
