.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems.active{
    color: #8FBC8F;
}

.dialog {
    padding: 20px;
    color: #66CDAA;
    text-decoration: none;
}

.messages {
    padding: 15px;
    color: #4682B4;
}

.messages.message {
    padding: 10px;
    color: #66CDAA;
}